@model project_ScopeIndia.Models.Reg


<h3>Registration</h3>
<h4>It's just a matter of 80 days to an IT job!</h4>
<section id="sec">
    <form asp-action="Reg" method="post" enctype="multipart/form-data" target="_self">
    <div class="con a">
        <br><br>
       
            <div class="input">
                <label asp-for="fullname">Full Name(requried)</label><br><br>
                <input type="text" id="fullname" name="fullname" required><br><br>
                <label asp-for="birth">Date of Birth (required)</label><br><br>
                <input type="date" id="birth" name="birth" required><br><br>
            </div>
            <label name="gender">Gender</label><br><br>
            <label for="gender">Male</label>
            <input type="radio" id="male" name="gender" value="Male">
            <label for="gender">Female</label>
            <input type="radio" id="female" name="gender" value="Female">
            <label for="gender">Other</label>
            <input type="radio" id="other" name="gender" value="Other"><br><br>
            <div class="input">
              <label asp-for="qualification">Educational Qualification</label><br><br>
                <input type="text" id="qualification" name="qualification"><br><br>
                <label asp-for="course">Choose your course (required)</label><br><br>
                <select name="course" id="course">
                    <optgroup label="Networking">
                        <option value="AWS">AWS</option>
                        <Option value="Azure">AZURE</Option>
                    </optgroup>
                    <optgroup label="Software Networking">
                        <option value="php">PHP</option>
                        <option value="DOT NET">DOT NET</option>
                        <option value="Python">Python full stack</option>
                        <option value="java">Java full stack</option>
                    </optgroup>
                </select><br><br>
                <label asp-for="num">Mobile Number (required)</label><br><br>
                <input type="tel" id="num" name="num" minlength="10"><br><br>
                <label asp-for="mail">Email (required)</label><br><br>
                <input type="email" id="mail" name="mail"><br><br>
                <label asp-for="gnum">Guardian's Mobile</label><br><br>

                <input type="tel" id="gnum" name="gnum"><br><br>
            </div>
            <label asp-for="train">Training Mode (required)</label><br><br>
            &nbsp; &nbsp; &nbsp;<input type="radio" id="live" name="train">
            <label for="live">Live Online</label>
            &nbsp; &nbsp;<input type="radio" id="class" name="train">
            <label for="class">Class Room</label>
            <br><br>
            <label asp-for="scope">SCOPE INDIA Location (required)</label><br><br>

            &nbsp; &nbsp; &nbsp;<input type="radio" id="a" name="scope">
            <label for="a">Technopark TVM</label>
            &nbsp; &nbsp; &nbsp;<input type="radio" id="b " name="scope">
            <label for="b">Thampanoor TVM</label>
            &nbsp; &nbsp; &nbsp;<input type="radio" id="c" name="scope">
            <label for="c">Kochi</label>
            &nbsp; &nbsp; &nbsp;<input type="radio" id="d" name="scope">
            <label for="d"> Nagercoil</label>
            &nbsp; &nbsp; &nbsp;<input type="radio" id="e" name="scope">
            <label for="e">Online</label>
            <br> <br>    </div>
    <div class="con b">
        <br><br>
      
            <div class="input">
                <label asp-for="GuardianName">Guardian's Name</label><br><br>
                <input type="text" id="GuardianName" name="GuardianName" required><br><br>
             
            </div>
            <label asp-for="check">Preferred Training Timings (required)</label><br><br>
            &nbsp; &nbsp; &nbsp;<input type="checkbox" id="ch" name="check"><label for="ch">Between 7am - 10am</label><br><br>
            &nbsp; &nbsp; &nbsp;<input type="checkbox" id="ch" name="check"><label for="ch"> Between 9am - 1pm</label><br><br>
            &nbsp; &nbsp; &nbsp;<input type="checkbox" id="ch" name="check"><label for="ch"> Between 1pm - 6pm</label><br><br>
            &nbsp; &nbsp; &nbsp;<input type="checkbox" id="ch" name="check"><label for="ch"> Between 6pm - 10pm</label><br><br>
            <div class="input">
                <label asp-for="add"> Address</label><br><br>
                <input type="text" id="add" name="add"><br><br>
                <label asp-for="Country">Country</label><br><br>
                <input type="text" id="Country" name="Country"><br><br>
                <label asp-for="State">State</label><br><br>
                <input type="text" id="State" name="State"><br><br>
                <label asp-for="City">City</label><br><br>
                <input type="text" id="City" name="City"><br><br>
                <label asp-for="pin"> PIN/Zip Code </label><br><br>
                <input type="text" name="pin" id="pin" minlength="6"><br><br>
                <input id="button" type="button" value="Complete Registration > >">
            </div>
       
    </div>
     </form>


</section>

<div id="final">
    <div id="foot">
        <div class="foot aa">
            <p>
                <b>1000+</b><br>
                S&nbsp;T&nbsp;U&nbsp;D&nbsp;E&nbsp;N&nbsp;T&nbsp;S A&nbsp;R&nbsp;E <br>
                T&nbsp;R&nbsp;A&nbsp;I&nbsp;N&nbsp;E&nbsp;D E&nbsp;V&nbsp;E&nbsp;R&nbsp;Y Y&nbsp;E&nbsp;A&nbsp;R
            </p>
        </div>
        <div class="foot bb">
            <p>
                <b> 30+</b><br>
                C&nbsp;O&nbsp;M&nbsp;P&nbsp;U&nbsp;T&nbsp;E&nbsp;R &nbsp;&nbsp;C&nbsp;O&nbsp;U&nbsp;R&nbsp;S&nbsp;E&nbsp;S
            </p>
        </div>
        <div class="foot cc">
            <p>
                <b>95%</b><br>
                S&nbsp;T&nbsp;U&nbsp;D&nbsp;E&nbsp;N&nbsp;T&nbsp;S&nbsp; A&nbsp;R&nbsp;E&nbsp;&nbsp; G&nbsp;E&nbsp;T&nbsp;T&nbsp;I&nbsp;N&nbsp;G <br>
                P&nbsp;L&nbsp;A&nbsp;C&nbsp;E&nbsp;D&nbsp; E&nbsp;V&nbsp;E&nbsp;R&nbsp;Y&nbsp; Y&nbsp;E&nbsp;A&nbsp;R
            </p>

        </div>



    </div>
    <div id="foot2">
        <img src="foot1.png" alt="">
        <p>Technopark TVM | Thampanoor TVM | Kochi, Kerala | Nagercoil, Tamil Nadu</p>
        <img class="a4" src="foot2.png" alt="" height="100px" width="400px"><br>
        <div id="pfoot">
            <p id="a5">An ISO 9001:2015 Certified Company</p>
            <p id="a6">All Rights Reserved <a href="">Suffix E Solutions</a> © 2007-2024</p>
        </div> <br>
        <div id="foot3">
            <a href="">9745936073 (TPK)</a>
            <a href="">9745936073 (TVM)</a>
            <a href="">7592939481 (EKM)</a>
            <a href="">8075536185 (NGL)</a>
            <a href="">info@scopeindia.org</a>

        </div>
    </div>
</div>