@model project_ScopeIndia.Models.Reg
@{
    ViewData["Title"] = "Registration";
}

  <body style="margin-top:150px; background-image:url(https://scopeindia.org/images/snowpark-skis-headerbg2.jpg);background-repeat: no-repeat;background-position:center top;background-size: cover;background-attachment:fixed;">
    <h3 style="color: white;text-align: center;">Registration</h3>
<h4 style="color: white;text-align: center;">It's just a matter of 80 days to an IT job!</h4>
<section  class="container ">
    <div class="card">
        <div class="card-header  text-white text-uppercase" style="background-color:goldenrod;" >
        <h4>Student Information Form</h4>
        </div>
      <div class="card-body container">
        <form  asp-controller="Reg" asp-action="Reg" method="post" enctype="multipart/form-data">
            <div class=" row mt-5">
               <div class="mb-3 col-6">
                   <label class="form-label" asp-for="Name">Name:</label>
                   <input type="text" name="Name" class="form-control">
                   <span asp-validation-for="Name"></span>
               </div>
           
           
                <div class="mb-3 col-6">
                    <label class="form-label" asp-for="Age">Age:</label>
                    <input type="number" asp-for="Age" class="form-control">
                    <span asp-validation-for="Age"></span>
                </div>
            </div>
           <div class="row">
             <div class="mb-3 col">
                <label class="form-label" asp-for="Country">Country:</label>
                <select id="country" asp-for="Country" name="country" class="form-select" onchange="updateStates()">
                    <option value="" disabled selected>Select Country</option>
                    <option value="India">India</option>
                    <option value="USA">USA</option>
                </select>
                <span asp-validation-for="Country"></span>
               </div>

           </div>
           <div class="row">
            
            <div class="mb-3 col">
                <label class="form-label" asp-for="State">State:</label>
                <select id="state" asp-for="State" name="state" class="form-select" onchange="updateCities()" required>
                    <option value="" disabled selected>Select State</option>
                </select>
                <span asp-validation-for="State"></span>
            </div>

           </div>
           <div class="row">
            <div class="mb-3 col">
                <label class="form-label" asp-for="City">City:</label>
                <select id="city" asp-for="City" name="city" class="form-select" required>
                    <option value="" disabled selected>Select City</option>
                </select>
                <span asp-validation-for="City"></span>
            </div>

           </div>
           <div class="row">
            <div class="mb-3 col">
                <label class="form-label" asp-for="PhoneNumber">Phone Number:</label>
                <input type="tel" class="form-control" asp-for="PhoneNumber" id="phoneNumber" name="phoneNumber" required>
                <span asp-validation-for="PhoneNumber"></span>
            </div>
           </div>
           <div class="row">
            <div class="mb-3  col">
                <label class="form-label" asp-for="Email">Email:</label>
                <input type="email" class="form-control" asp-for="Email" id="email" name="email" required>
                <span asp-validation-for="Email"></span>
            </div>
           </div>
           <div class="row">
            <div class="mb-3 col">
                <label class="form-label" asp-for="Gender">Gender:</label>
                <div class="form-check">
                    <input type="radio" asp-for="Gender" id="male" name="gender" value="Male" class="form-check-input" required>
                    <label for="male" class="form-check-label">Male</label>
                </div>
                <div class="form-check ">
                    <input type="radio" asp-for="Gender" id="female" name="gender" value="Female" class="form-check-input" required>
                    <label for="female" class="form-check-label">Female</label>
                </div>
                <div class="form-check ">
                    <input type="radio" asp-for="Gender" id="other" name="gender" value="Other" class="form-check-input" required>
                    <label for="other" class="form-check-label">Other</label>
                </div>
                <span asp-validation-for="Gender"></span>
            </div>
           </div>
               
   
               
   
   
               
   
              
   
              
   
              
   
                @{
                   string[] hobbies = { "Reading", "Dancing", "Swimming" };
               }
              <label>Hobbies:</label><br />
               @foreach (var hobby in hobbies)
               {
                   <label>
                       <input type="checkbox" name="Hobbies" value="@hobby" />
                       @hobby
                   </label>
                   <br />
               } 
               <center>
                        <input type="submit" class="btn btn-primary col" style="width:200px" value="Submit" />
               </center>
             
           
           </form>
      </div>
       
       
       
    
    </div>
    

   

</section>


<script>
    const locations = {
        "India": {
            "Tamilnadu": ["Coimbatore", "Kanyakumari", "Tirunelveli"],
            "Kerala": ["Trivandrum", "Kochi", "Palakkad"]
        },
        "USA": {
            "Alabama": ["Birmingham", "Montgomery", "Mobile", "Huntsville"],
            "Alaska": ["Anchorage", "Fairbanks", "Juneau", "Sitka"]
        }
    };

    function updateStates() {
        const countrySelect = document.getElementById("country");
        const stateSelect = document.getElementById("state");
        const citySelect = document.getElementById("city");
        const selectedCountry = countrySelect.value;


        stateSelect.innerHTML = '<option value="" disabled selected>Select State</option>';
        citySelect.innerHTML = '<option value="" disabled selected>Select City</option>';

        if (selectedCountry in locations) {
            for (const state in locations[selectedCountry]) {
                const option = document.createElement("option");
                option.value = state;
                option.text = state;
                stateSelect.add(option);
            }
        }
    }


    function updateCities() {
        const countrySelect = document.getElementById("country");
        const stateSelect = document.getElementById("state");
        const citySelect = document.getElementById("city");
        const selectedCountry = countrySelect.value;
        const selectedState = stateSelect.value;


        citySelect.innerHTML = '<option value="" disabled selected>Select City</option>';


        if (selectedCountry in locations && selectedState in locations[selectedCountry]) {
            for (const city of locations[selectedCountry][selectedState]) {
                const option = document.createElement("option");
                option.value = city;
                option.text = city;
                citySelect.add(option);
            }
        }
    }
</script>

 @section Scripts {
    @await Html.PartialAsync("/Views/Shared/_ValidationScriptsPartial.cshtml")
} 
   </body>