@model project_ScopeIndia.Models.Flogin2;

@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form asp-controller="" asp-action="" method="post">
  
 
  
   
 


</form>
<body style=" margin-top:200px;  background-image:url(https://scopeindia.org/images/snowpark-skis-headerbg2.jpg);background-repeat: no-repeat;background-position:center top;background-size: cover;background-attachment:fixed;">

    <main class="container" style="height:900px;">
        <div class="row">
            <div class="col-md-6" style="margin-top:160px;">
                <h3 style=" text-align:center;color:white;font-size:50px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Don't Look Backword</h3><br>
                <h3 style="text-align:center;color:white; font-size:60px;">WHILE GOING FORWARD</h3>
            </div>
            <div class="col-md-6" style="margin-top: 100px;">
                <h3 style="color:white;font-size:30PX; text-align: center;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">LOGIN</h3>

                <form asp-controller="Login" asp-action="Firsttimelogin" method="post" class="mt-5">


                    <center>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="control-label"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="RememberMe" class="form-check-input" />
                            <label asp-for="RememberMe" class="form-check-label">Remember me</label>
                        </div>

                    </center>






                    <center>
                        <div class="form-group">
                            <input type="submit" value="Login" class="btn btn-primary" />
                        </div>
                    </center>



                </form>

            </div>

        </div>
    </main>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}