@model project_ScopeIndia.Models.Login;

@{
    ViewData["Title"] = "Login";
}

<body style=" margin-top:200px;  background-image:url(https://scopeindia.org/images/snowpark-skis-headerbg2.jpg);background-repeat: no-repeat;background-position:center top;background-size: cover;background-attachment:fixed;">
    
    <main class="container" style="height:900px;">
        <div class="row">
            <div class="col-md-6" style="margin-top:160px;">
             <h3 style=" text-align:center;color:white;font-size:50px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Welcome Back</h3><br>
             <h3 style="text-align:center;color:white; font-size:60px;">WE WILL GROW TOGATHER</h3>
            </div>
            <div class="col-md-6" style="margin-top: 100px;" >
                <h3 style="color:white;font-size:30PX; text-align: center;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">LOGIN</h3>
                
                <form asp-controller="Login" asp-action="Login" method="post" class="mt-5">
               

                    <center>
                        <div class="form-group ">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" placeholder=" Email" class="form-control" style="max-width:400px;" ></input>
                            <span asp-validation-for="Email" clas="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" placeholder="Password" class="form-control " style="max-width:400px;"  ></input>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </center>
            
                    
            
                
                
                <div class="form-group mt-4 ms-5">
                    <input asp-for="RememberMe" type="checkbox" class="form-check-input ms-5" />
                    <label asp-for="RememberMe" class="form-check-label" style="color:white;">Remember me</label>
                </div>
               <div class="row mt-4 ms-5" style="color: white;">
                  <div class="form-group col ms-5">
                    <a asp-action="ForgotPassword">Forgot your password?</a>
                  </div>
                   <div class="form-group col">
                    <a asp-action="FirsttimeLogin">First time login?</a>
                     </div>
                </div>
              <center>
                <div class="form-group mt-4" >
                    <input type="submit" value="Login" class="btn btn-primary " style="width:100px;" />
                </div>
              </center>
              
            
            
            </form>
            
        </div>
        
        </div>
    </main>






 @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
} 

</body>